
<div class="header" id="header">
  <% if user_signed_in? %>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: absolute;top: 30px;">
      <div class="container-fluid" style="position: fixed;background: rgb(51, 53, 69);left:0px;height: 67px;width: 100%;top:0;">

        <form class="d-flex" action="<%= homepgs_path %>" method="get" style="position: absolute;top:10px">
          <input type="text" name="search"  value="<%= params[:search] %>" placeholder="Search Movies" class="form-control me-2" style="height: 35px; width: 200px;    position: absolute;top: 4px;" >
          <button type="submit" class="btn btn-outline-success" style="height: 35px; width: 80px;position: absolute;left: 210px;top:4px">Search</button>
        </form>

        <nav class="navbar">
          <a class="navbar-brand" href="http://127.0.0.1:3000/"><div class="text-center font-pacifico">
            <h1 style="position: absolute;left: 600px;top:-11px;color: #fffffff0">My Movie</h1>
          </div></a>
        </nav>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            <li class="nav-item" >
              <%= link_to 'Log Out', destroy_user_session_path,class:"btn btn-outline-light", method: :delete,style:"color:white;position: absolute;right:269px;padding:3px;top:15px;font-size: 14px;"  %>
            </li>

            <li class="nav-item" >
              <%= link_to 'Edit Profile', edit_user_registration_path,class: "btn btn-outline-dark",style:"color:white;position: absolute;right: 180px;padding:3px;top:15px;font-size: 14px;" %>
            </li>

            <li class="nav-item" >
              <%= link_to 'Add Movie', new_homepg_path,class: "btn btn-outline-dark",style:"color:white;position: absolute;right: 95px;padding:3px;top:15px;font-size: 14px;" %>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:3000/profiles"><% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar,size:'50x50',style: "Border-radius: 50%;position: absolute;right: 30px;padding:3px;top:6px;"%>
                <% else %>
                  <%= link_to 'Profile Pg', profiles_path,class:"btn btn-outline-dark",style:"color:white;position: absolute;right: 20px;padding:3px;top:15px;font-size: 14px;" %>
                <% end %></a>
            </li></ul></div></div>
    </nav>
    <div style="position:absolute;top:110px;right:30px;z-index: 1;"><strong>User :- </strong><%= current_user.email %></div>

    <% else %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: absolute;top: 30px;">
      <div class="container-fluid" style="position: fixed;background: rgb(51, 53, 69);left:0px;height: 67px;width: 100%;top:0;">

        <form class="d-flex" action="<%= homepgs_path %>" method="get" style="position: absolute;top:10px">
          <input type="text" name="search"  value="<%= params[:search] %>" placeholder="Search Movies" class="form-control me-2" style="height: 35px; width: 200px;    position: absolute;top: 4px;" >
          <button type="submit" class="btn btn-outline-success" style="height: 35px; width: 80px;position: absolute;left: 210px;top:4px">Search</button>
        </form>

        <nav class="navbar">
          <a class="navbar-brand" href="https://mymovie-fdng.onrender.com/"><div class="text-center font-pacifico">
            <h1 style="position: absolute;left: 600px;top:-11px;color: #fffffff0">My Movie</h1>
          </div></a>
        </nav>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item" >
              <%= link_to 'Add Movies', new_homepg_path,class: "btn btn-outline-dark",style:"position: absolute;right: 180px;padding:3px;top:15px;color:white;font-size: 14px;" %>
            </li>

            <li class="nav-item" >
              <%= link_to 'Sign Up', new_user_registration_path,class: "btn btn-outline-dark",style:"position: absolute;color:white;right: 95px;padding:3px;top:15px;font-size: 14px;" %>
            </li>

            <li class="nav-item" >
              <%= link_to 'Log In', new_user_session_path,class:"btn btn-outline-dark",style:"position: absolute;color:white;right: 20px;padding:3px;top:15px;font-size: 14px;" %>
            </li>

            </ul></div></div>
    </nav>
  <% end %>

</div>



<!DOCTYPE html>
<html>
  <head>
    <title>MyMovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  </head>

  <body style="padding-top: 94px">
    <%= yield %>
  </body>
</html>
